.dashboard-wrapper { 
    display: grid;
    grid-template-areas: 
    'sidebar header header header header'
    'sidebar content content content content'
    'sidebar content content content content'
    'sidebar content content content content'
    ;
    gap: 10px;
}

.content { 
    grid-area: content;
}

.navbar {
    grid-area: header;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebar {
    grid-area: sidebar;
    width: 300px;
}