.sidebar ul {
    margin: 0;
    padding: 0;
}

.sidebar {
    position: relative;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100vh;
    width: 150px;
    transition: all 0.5s ease;
    padding: 16px 18px;
    background-color: blue;
}

.sidebar.active {
    width: 300px;
}

.top i { 
    left: 50%;
}
