<div class="sidebar">
    <div class="top">
        <div class="logo">
            <span>Topbank</span>
        </div>
        <i class="pi pi-bars" style="font-size: 32px" id="toggleSidebar"></i>
    </div>
    <ul>
        <li>
            <a href="#">
                <i class="pi pi-table"></i>
                <span class="nav-item">Dashboard</span>
            </a>
            <span class="tool-tip">Dashboard</span>
        </li>
        <li>
            <a href="#">
                <i class="pi pi-users"></i>
                <span class="nav-item">List Nasabah</span>
            </a>
            <span class="tool-tip">List Nasabah</span>
        </li>
        <li>
            <a href="#">
                <i class="pi pi-user-edit"></i>
                <span class="nav-item">List Admin</span>
            </a>
            <span class="tool-tip">List Admin</span>
        </li>
    </ul>
</div>
