<p-dialog [(visible)]="visible" [modal]="true" [showHeader]="false" [style]="{ width: '50vw', height: '80vh' }" [draggable]="false" [resizable]="false">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="dialog-wrapper">
            <h6>Tambah Admin</h6>
            <div class="input-container">
                <div class="input-wrapper-enable">
                    <p>Nama</p>
                    <input type="text" id="customerName" formControlName="name" placeholder="Zidan" required>
                </div>
                <div class="input-wrapper-enable">
                    <p>Email</p>
                    <input type="text" formControlName="email" placeholder="zidan@topbank.id">
                </div>
                <div class="input-wrapper-enable">
                    <p>Password</p>
                    <input type="text" formControlName="password" placeholder="Topbank123!">
                </div>  
                <div class="input-wrapper-enable">
                    <p>Role</p>
                    <div class="dropdown">
                        <select>
                          <option value="" disabled selected>Admin Cabang</option>
                          <option *ngFor="let option of options" [value]="option.value">{{ option.label }}</option>
                        </select>
                      </div>
                </div>  
            </div>
            <div class="button-container">
                <button class="close-button" (click)="closeDialog()">Batal</button>
                <button class="save-button" type="submit">Simpan</button>
            </div>
        </div>
    </form>
</p-dialog>
