.dashboard-card {
    height: 302px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    padding: 32px;
}

.dashboard-card h3 { 
    font-weight: 500;
}

.admin-status {
    display: flex;
    gap: 60px;
}

.dashboard-hover { 
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 26px;
}

.admin-details { 
    margin-bottom: 24px;
}

.admin-details p { 
    color: #7c7c7c;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
}

.admin-details p { 
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
}

.chart-wrapper { 
    width: 190px;
    height: auto;
}

.chart-column { 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.account-amount-wrapper p { 
    font-size: 12px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.account-amount-wrapper { 
    padding: 30px;
}

.dashboard-wrapper { 
    height: 100vh;
}

.second-content { 
    margin-top: 40px;
}

app-chart-component .p-chart > .p-panel {
    border: none;
}